body {
  font-family: Raleway, sans-serif;
  font-size: larger;
}
header {
  height: 105px;
  margin-top: 92px;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
header address {
  font-style: normal;
  max-width: 221px;
  text-align: left;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.3;
  padding-right: 20px;
  margin-right: 42px;
}
.header-menu {
  margin-left: 26.52px;
  max-width: 392px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.header-menu li {
  display: inline-block;
}

.header-menu span {
  font-size: 12px;
}

.logo-main {
  text-align: center;
  vertical-align: middle;
  align-self: center;
  margin-right: 113px;
}

header img {
  height: 105px;
}

.cover {
  display: block;
  max-width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/cover.jpg") no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  margin-top: 93px;
  text-transform: uppercase;
  height: 757px;
}
.cover a {
  background: transparent;
  border: solid white 2px;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  padding: 10px 20px;
  margin-left: 50px;
  text-decoration: none;
}
.cover-indent-60px {
  letter-spacing: 60px;
}
.cover-indent-30px {
  letter-spacing: 30px;
}
.cover-1-title {
  text-align: start;
  width: 100%;
  font-size: 100px;
  font-weight: bolder;
  letter-spacing: 35px;
  padding-top: 165px;
  padding-left: 50px;
}
.cover-2-title {
  text-align: center;
  width: 100%;
  font-size: 100px;
  font-weight: bolder;
  letter-spacing: 30px;
  text-align: center;
  padding-top: 10px;
}
.cover-3-title {
  text-align: end;
  width: 100%;
  font-size: 100px;
  font-weight: bolder;
  letter-spacing: 30px;
  text-align: end;
  padding-right: 20px;
  margin-top: 3px;
}
.auction-of-things {
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 130px;
}

.auction-of-things p {
  word-spacing: normal;
  margin-left: 30px;
  word-spacing: 18px;
  font-size: 22px;
}

.auction-of-things button {
  font-size: 22px;
  word-spacing: 10px;
  word-spacing: normal;
  max-width: 256px;
  text-transform: uppercase;
  background-color: transparent;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
}

.lots {
  padding-top: 160px;
  display: block;
}
.lots-name {
  display: block;
  font-weight: bolder;
  font-size: 40px;
  margin: 20px;
  margin-left: 60px;
  text-transform: uppercase;
}
.cards {
  display: flex;
  justify-content: center;
}
.cards a {
  display: block;
  text-decoration: none;
}

.card {
  display: block;
  color: white;
  padding: 40px;
  margin: 15px;
  flex-grow: 1;
  padding-bottom: 30px;
  max-height: 563px;
  max-width: 334px;
}
.card-film {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-01.jpg") no-repeat;
  background-size: cover;
}
.card-book {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-02.jpg") no-repeat;
  background-size: cover;
}
.card-picture {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-03.jpg") no-repeat;
  background-size: cover;
}
.card-name {
  text-decoration: underline;
  text-transform: uppercase;
  width: 100%;
  font-weight: bolder;
  font-size: larger;
  display: block;
}

.text-block {
  display: grid;
  min-height: 280px;
}

.card-text {
  max-width: 254px;
  margin-top: 32px;
  line-height: 24px;
  align-self: end;
  justify-self: end;
  display: grid;
  align-items: end;
}

.view_more {
  display: block;
  margin: 10px;
  margin-left: 65px;
  text-decoration: underline;
}

.about {
  padding-left: 60px;
  padding-top: 170px;
  display: table-cell;
  vertical-align: text-top;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-logo {
  width: 240px;
  height: 240px;
  background: black;
  border-radius: 50%;
  text-align: center;
  padding: 64px 46px;
  margin-left: -10px;
  margin-top: -360px;
}
.about-logo img {
  width: 148px;
  height: 114px;
}
.about-text {
  text-align: left;
  margin-top: 100px;
  display: inline-block;
  padding-left: 72px;
}

.about-text p {
  max-width: 696px;
  letter-spacing: 0.1px;
}

.about h3 {
  font-weight: bolder;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 98px;
}
.about p {
  font-size: 20px;
  padding-bottom: 30px;
}

.footer {
  padding: 50px;
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
}

.contacts {
  max-width: 241px;
  max-height: 98px;
}

.footer li {
  list-style-type: none;
}

.text-decoration-none {
  text-decoration: none;
}

.footer img {
  display: inline-block;
  width: 50px;
  margin-left: 40px;
}

.menu-end {
  text-align: center;
  padding-left: 40px;
}
